<div class="helper wide">
    <section>
        <form id="suppliesFilter">
            <h2>Выберите параметры</h2>
            <p id="error"></p>
            <select id="brandsSelect">
                <option value="">Выберите бренд</option>
                <option value="1">CANON</option>
                <option value="3">EPSON</option>
                <option value="2">HP</option>
                <option value="5">SAMSUNG</option>
                <option value="4">XEROX</option>
            </select>
            <select id="typesSelect">
                <option value="">Выберите тип</option>
                <option value="1">Принтер лазерный</option>
                <option value="2">Принтер струйный</option>
                <option value="3">МФУ лазерный</option>
                <option value="4">МФУ струйный</option>
                <option value="5">Сканер</option>
            </select>
            <select id="modelsSelect">
                <option value="">Выберите модель</option>
            </select>
            <button type="submit">Найти</button>
        </form>
    </section>
    <section>
        <div id="content"></div>
    </section>
</div>
